form {
  margin: auto;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgb(208, 215, 222);
  margin-top: 5em;
  padding: 2em 0.5em;
  border-radius: 0.5em;
  background-color: #f6f8fa;
}

label,
input {
  display: block;
  width: 80%;
  margin: auto;
}

input {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid rgb(208, 215, 222);
}

form .btn {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.error {
  color: red;
  text-align: center;
  border: 1px solid red;
  width: 80%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.5em;
}

.forgot-password {
  margin-left: 2.5em;
  margin-top: 0.5em;
}

.forgot-password a {
  color: var(--color-green);
  text-decoration: none;
}

.forgot-password a:hover,
.forgot-password a:focus {
  text-decoration: underline;
}
