header {
    background-color: var(--color-blue);
    padding: 1em;
    
}

.header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

header a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 1em;
}

header a:hover, header a:focus {
   color: #000000;
}

header h2 {
    margin: 0;
}